In [29]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT 
        f.name,
        SUM(case when strftime('%m', b.starttime) = 1 then b.slots else 0 end) as Jan,
        SUM(case when strftime('%m', b.starttime) = 2 then b.slots else 0 end) as Feb,
        SUM(case when strftime('%m', b.starttime) = 3 then b.slots else 0 end) as Mar,
        SUM(case when strftime('%m', b.starttime) = 4 then b.slots else 0 end) as Apr,
        COUNT(case when strftime('%m', b.starttime) = 5 then b.slots else 0 end) as May,
        COUNT(case when strftime('%m', b.starttime) = 6 then b.slots else 0 end) as Jun,
        COUNT(case when strftime('%m', b.starttime) = 7 then b.slots else 0 end) as Jul,
        COUNT(case when strftime('%m', b.starttime) = 8 then b.slots else 0 end) as Aug,
        COUNT(case when strftime('%m', b.starttime) = 9 then b.slots else 0 end) as Sep,
        COUNT(case when strftime('%m', b.starttime) = 10 then b.slots else 0 end) as Oct,
        COUNT(case when strftime('%m', b.starttime) = 11 then b.slots else 0 end) as Nov,
        COUNT(case when strftime('%m', b.starttime) = 12 then b.slots else 0 end) as Dec
        FROM Members m
        INNER JOIN Bookings b 
            on b.memid = m.memid
        INNER JOIN Facilities f 
            on f.facid = b.facid
        WHERE m.memid > 0
        GROUP BY f.name
        ORDER BY f.name ;
        
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 0, 0, 0, 0, 344, 344, 344, 344, 344, 344, 344, 344)
('Massage Room 1', 0, 0, 0, 0, 421, 421, 421, 421, 421, 421, 421, 421)
('Massage Room 2', 0, 0, 0, 0, 27, 27, 27, 27, 27, 27, 27, 27)
('Pool Table', 0, 0, 0, 0, 783, 783, 783, 783, 783, 783, 783, 783)
('Snooker Table', 0, 0, 0, 0, 421, 421, 421, 421, 421, 421, 421, 421)
('Squash Court', 0, 0, 0, 0, 195, 195, 195, 195, 195, 195, 195, 195)
('Table Tennis', 0, 0, 0, 0, 385, 385, 385, 385, 385, 385, 385, 385)
('Tennis Court 1', 0, 0, 0, 0, 308, 308, 308, 308, 308, 308, 308, 308)
('Tennis Court 2', 0, 0, 0, 0, 276, 276, 276, 276, 276, 276, 276, 276)

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

/* Q12: Find the facilities with their usage by member, but not guests */

/* Q13: Find the facilities usage by month, but not guests */